<div class="HEADER">
  <div class="SHELL">
    <div class="FLOAT_LEFT">
      <%= link_to "Home", root_path %>
      <%= link_to "Courses", courses_url %>
      <% if current_user %>
      <%= link_to "My Page", current_user %>
      <% end %>
      </div>
    <div class="FLOAT_RIGHT">
    <% if current_user %>
      Welcome <b style="color: #38761d;"><%= current_user.email %></b>&nbsp;|&nbsp;
      <%= link_to "Sign Out", destroy_user_session_path, :method=>:delete %>
    <% elsif current_admin %>
      Welcome <b style="color: #38761d;"><%= current_admin.email %></b>&nbsp;|&nbsp;
      <%= link_to "Sign Out", destroy_admin_session_path, :method=>:delete %>
    <% else %>
      <%= link_to "Student Sign In", new_user_session_path(current_user) %>&nbsp;|&nbsp;
      <%= link_to "Registration", new_user_registration_path(current_user) %>&nbsp;|&nbsp;
      <%= link_to "Professor Sign In", new_admin_session_path(current_admin) %>&nbsp;|&nbsp;
      <%= link_to "Registration", new_admin_registration_path(current_admin) %>
    <% end %>
    </div>
  </div>
</div>
